.swiper-container {
    position: relative;
    // height: 780px;
    .swiper-slide {
        transition: all 0ms ease 0s;
        height: auto;
        img {
            max-width: 100%;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        color: #93c9e1;
        &:hover {
            color: #0095D9;
        }
    }
}