.header {
    // border-bottom: 1px solid transparent;
}

.nav-aside-inner {
    height: 90px;
    // padding-left: 15px;
    // padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 995px) {
        justify-content: inherit;
    }
    .logo-wraper {
        height: 60px;
        margin-left: -13px;
        margin-top: 0;
        margin-bottom: 0;
        display: inline-flex;
    }
    .app-logo {
        max-height: 100%;
    }
    .signature {
        font-family: "Devitos";
        width: 100%;
        font-size: 18px;
        line-height: 1.5;
        color: #74757f;
        letter-spacing: 1px;
        word-spacing: 4px;
        text-align: right;
    }
    .nav-toggle {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        color: #2d3742;
        background-color: transparent;
        border: none;
        >span {
            width: 24px;
            height: 2px;
            background-color: #2d3742;
            backface-visibility: hidden;
            position: relative;
            display: block;
            margin: auto;
            transition: .3s all ease;
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: -6px;
                transition: .3s all ease;
                width: 24px;
                height: 2px;
                background-color: #2d3742;
                backface-visibility: hidden;
            }
            &::after {
                top: 6px;
            }
        }
        &.active {
            >span {
                background: transparent;
                transition: .01s;
                &::before {
                    transform-origin: 50% 50%;
                    top: 0;
                    transform: rotate(45deg);
                }
                &::after {
                    transform-origin: 50% 50%;
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.nav-main-inner {
    position: relative;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    .nav {
        display: inline-flex;
        flex: 2;
        justify-content: space-between;
        a {
            font-size: 18px;
            font-weight: 500;
            color: #666666;
            background: transparent;
            transition: .25s;
            position: relative;
            display: inline-block;
            letter-spacing: .08em;
            text-transform: uppercase;
            cursor: pointer;
            &:active,
            &:hover {
                color: #0095D9;
            }
        }
    }
    .sign {
        flex: 2;
        text-align: right;
    }
}

.nav-bar-warp-mobile {
    position: fixed;
    z-index: 1078;
    left: 0;
    top: 91px;
    bottom: -56px;
    z-index: 1079;
    width: 270px;
    padding: 112px 0 81px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    font-size: 14px;
    line-height: 34px;
    transform: translateX(-110%);
    color: #fff;
    background: #fff;
    border-right: 1px solid #e8e9ee;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    &.active {
        transform: translateX(0);
    }
    .nav {
        display: block;
        margin: 15px 0;
        height: auto;
        text-align: left;
        transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    .nav-item {
        text-align: left;
        .nav-link {
            color: #2d3742;
            display: block;
            padding: 14px 56px 14px 18px;
            letter-spacing: .08em;
            text-transform: uppercase;
        }
        &.active {
            color: #fff;
            background: #0095D9;
        }
    }
}

.nav-main-outer.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(136, 136, 136, 0.1);
}