.career-wrap {
    .career {
        display: flex;
    }
    .career-pic {
        flex: 1;
        margin-right: .8rem;
        img {
            max-width: 100%;
        }
    }
    .career-text {
        flex: 1;
        padding: 0 .22rem;
        .article {
            color: #74757f;
            font-size: 16px;
            line-height: 1.5;
            text-align: left;
        }
        .param {
            margin-bottom: 20px;
        }
        .button-wrap {
            margin-top: 35px;
        }
    }
}

@media (max-width: 995px) {
    .career-wrap {
        .career {
            flex-direction: column;
        }
        .career-pic {
            position: relative;
            order: 2;
            margin-right: 0;
            margin-top: .36rem;
            transition: all 2s;
            transform: translate3d(-100%, 0, 0);
        }
        .career-text {
            order: 1;
        }
    }
}

.slideInLeft {
    animation-name: slideInLeft;
}

@keyframes slideInLeft {
	0% {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}