.career-wrap {
    .career {
        display: flex;
        overflow: hidden;
    }
    .career-pic {
        flex: 1;
        margin-right: .8rem;
        opacity: 0;
        img {
            max-width: 100%;
        }
    }
    .career-text {
        flex: 1;
        padding: 0 .22rem;
        .article {
            color: #74757f;
            font-size: 16px;
            line-height: 1.5;
            text-align: left;

            * {
              transform: translate3d(0,-50%, 0);
              opacity: 0;
            }
        }
        .param {
            margin-bottom: 20px;
        }
        .button-wrap {
            margin-top: 35px;
        }
    }
}

@media (max-width: 995px) {
    .career-wrap {
        .career {
            flex-direction: column;
        }
        .career-pic {
            position: relative;
            order: 2;
            margin-right: 0;
            margin-top: .36rem;
            transform: translate3d(-50%, 0, 0);
        }
        .career-text {
            order: 1;
        }
    }
}

.slideToLeft {
    animation: 1s slideToLeft ease-in forwards;
}

@keyframes slideToLeft {
	0% {
		transform: translate3d(-50%, 0, 0);
        opacity: 1;
	}
	100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
	}
}

article.slideToBottom {
    * {
        animation: 1s slideToBottom ease-in forwards;
    } 
}

@keyframes slideToBottom {
	0% {
		transform: translate3d(0, -50%, 0);
        opacity: 1;
	}
	100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
	}
}