//HTML
//font-size:625% => 1rem = 100px
html {
    font-size: (100px / 16px) * 100%;
    ;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: "Solomon", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.global-width {
    width: 12rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sub-title {
    font-family: "Devitos";
    font-size: .36rem;
    line-height: 1.33333;
    color: #0b1313;
    margin-top: 0;
    letter-spacing: 1px;
}

.button {
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    border: 2px solid;
    border-radius: 0;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.25s cubic-bezier(0.2, 1, 0.3, 1);
}

.button-blue {
    padding-top: 14px;
    padding-bottom: 14px;
    background: #0095D9;
    color: #ffffff;
    &.max {
        padding-left: 55px;
        padding-right: 55px;
    }
}