@font-face {
    font-family: 'DIN Condensed';
    src: url("../fonts/DIN Condensed Bold.eot");
    src: url('../fonts/DIN Condensed Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DIN Condensed Bold.woff') format('woff'), url('../fonts/DIN Condensed Bold.ttf') format('truetype'), url('../fonts/DIN Condensed Bold.svg') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'NevradaNeue';
    src: url("../fonts/NevradaNeue.eot");
    src: url('../fonts/NevradaNeue.eot?#iefix') format('embedded-opentype'), url('../fonts/NevradaNeue.woff') format('woff'), url('../fonts/NevradaNeue.ttf') format('truetype'), url('../fonts/NevradaNeue.svg') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Devitos';
    src: url("../fonts/Devitos.eot");
    src: url('../fonts/Devitos.eot?#iefix') format('embedded-opentype'), url('../fonts/Devitos.woff') format('woff'), url('../fonts/Devitos.ttf') format('truetype'), url('../fonts/Devitos.svg') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Solomon';
    src: url("../fonts/Solomon-Light-Demo.eot");
    src: url('../fonts/Solomon-Light-Demo.eot?#iefix') format('embedded-opentype'), url('../fonts/Solomon-Light-Demo.woff') format('woff'), url('../fonts/Solomon-Light-Demo.ttf') format('truetype'), url('../fonts/Solomon-Light-Demo.svg') format('svg');
    font-weight: normal;
}